<ion-content class="background" no-scrool padding>
    <div>
      <div class="text">
        <div class="tex">
          <h1>Sobre Macapá</h1>
          <p>Macapá está localizada no sudeste do Amapá, estado do extrremo norte do pais,
            Sua história se prende à defesa e à fortificação das fronteiras do Brasil Colônia.
            No passado, tinha a função de garantir o domínio lusitano no extremo norte do Brasil. 
            A <a href="home/PontosTuristicos">Igreja de São José de Macapá</a> é um
            marco histórico, começou a ser construída em 1752, seis anos antes da criação oficial da Vila de São José
            de Macapá. Inaugurada em 05 de março de 1761, a igreja matriz abriga a imagem original do padroeiro São
            José, esculpida em madeira e considerada uma das relíquias sacras mais importantes do Estado. O <a href="home/PontosTuristicos">Trapiche</a>
            é outras das principais atrações turísticas da cidade. Antes da sua construção, as embarcações aportavam
            na chamada Pedra do Guindaste, onde hoje está a imagem de São José. A cidade tambem é conhecida pelo
            Marco Zero, onde a latitude é de zero grau. A construção do monumento, com o relógio do sol, marcar o local
            onde passa a linha do Equador. Neste ponto é assistir o fenômeno chamado de Equinócio, em que os raios
            do sol brilham diretamente sobre a linha do Equador. O <a href="home/PontosTuristicos">Monumento Marzo Zero</a> também possui no seu terraço
            um espaço para shows, além de salão para exposições, bar e lanchonete e lojas para venda de produtos locais.</p>
        </div>
      </div>
    </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-toolbar>
</ion-footer>