<ion-content class="background-img" no-scroll padding>

  <div>
    <div class="card">
      <h1 class="title">Restaurantes</h1>
      <ion-card>
        <img alt="Silhouette of mountains" src="https://lh5.googleusercontent.com/p/AF1QipN-cPNIhSiTQBfzXd562uNEVTe7mDi-oWlU_qvG=w426-h240-k-no" />
        <ion-card-header>
          <ion-card-title>Restaurante e Pizzaria Palmeiras</ion-card-title>
          <ion-card-subtitle>
          <a href="https://goo.gl/maps/WpwDCzyzxEEhmaDY6">Localização</a></ion-card-subtitle>
        </ion-card-header> 
        <ion-card-content>
          Restaurante localizado na orla de Macapá, funciona das 18h até as 00h, e 11h-16h/18h-00h nos fins de semana
        </ion-card-content>
      </ion-card>

      <ion-card>
        <img alt="Sarney" src="https://pr0.nicelocal.br.com/lsdyUfmrp5BovhE8Vj7KDw/587x440,q85/4px-BW84_n0QJGVPszge3NRBsKw-2VcOifrJIjPYFYkOtaCZxxXQ2ZUDaZ1PkmpwrlRaQIWMmiJ1OP6_BHMUdjjAV0Nyt6WqRss3wP5obAz-hqrKk7tPsg" />
        <ion-card-header>
          <ion-card-title>Restaurante Sarney</ion-card-title>
          <ion-card-subtitle><a href="https://goo.gl/maps/Mp2kuYP2hk5WiYog7">Localização</a></ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Restaurante tem vista para o rio, localizado no parque do forte, funciona das 11h-15h todos os dias
        </ion-card-content>
      </ion-card>

      <ion-card>
        <img alt="Silhouette of mountains" src="https://lh5.googleusercontent.com/p/AF1QipN-cPNIhSiTQBfzXd562uNEVTe7mDi-oWlU_qvG=w426-h240-k-no" />
        <ion-card-header>
          <ion-card-title>Restaurante e Pizzaria Palmeiras</ion-card-title>
          <ion-card-subtitle>
          <a href="https://goo.gl/maps/WpwDCzyzxEEhmaDY6">Localização</a></ion-card-subtitle>
        </ion-card-header> 
        <ion-card-content>
          Restaurante localizado na orla de Macapá, funciona das 18h até as 00h, e 11h-16h/18h-00h nos fins de semana
        </ion-card-content>
      </ion-card>

      <ion-card>
        <img alt="Silhouette of mountains" src="https://lh5.googleusercontent.com/p/AF1QipN-cPNIhSiTQBfzXd562uNEVTe7mDi-oWlU_qvG=w426-h240-k-no" />
        <ion-card-header>
          <ion-card-title>Restaurante e Pizzaria Palmeiras</ion-card-title>
          <ion-card-subtitle>
          <a href="https://goo.gl/maps/WpwDCzyzxEEhmaDY6">Localização</a></ion-card-subtitle>
        </ion-card-header> 
        <ion-card-content>
          Restaurante localizado na orla de Macapá, funciona das 18h até as 00h, e 11h-16h/18h-00h nos fins de semana
        </ion-card-content>
      </ion-card>

      <ion-card>
        <img alt="Silhouette of mountains" src="https://lh5.googleusercontent.com/p/AF1QipN-cPNIhSiTQBfzXd562uNEVTe7mDi-oWlU_qvG=w426-h240-k-no" />
        <ion-card-header>
          <ion-card-title>Restaurante e Pizzaria Palmeiras</ion-card-title>
          <ion-card-subtitle>
          <a href="https://goo.gl/maps/WpwDCzyzxEEhmaDY6">Localização</a></ion-card-subtitle>
        </ion-card-header> 
        <ion-card-content>
          Restaurante localizado na orla de Macapá, funciona das 18h até as 00h, e 11h-16h/18h-00h nos fins de semana
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-toolbar>
</ion-footer>