<ion-content [fullscreen]="true">
  <div class="background">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><input type="submit" class="inv"></a>
  <div class="Menu">
    <h1>Macapá Tour</h1>
    <div class="buttons">
      <ion-button href="home/sobre" fill="outline">Sobre <br> Macapá</ion-button>
      <ion-button href="home/PontosTuristicos" fill="outline">Pontos <br> Turisticos</ion-button>
    </div>
    <div class="buttons">
      <ion-button href="home/restaurantes" fill="outline" style="font-size: 100%;">Restaurantes</ion-button>
      <ion-button fill="outline">djn</ion-button>
    </div>
  </div>
</div>
</ion-content>